<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.symptom_checker"
    android:requestLegacyExternalStorage="true">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />


    <!-- Permissions for Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>

    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SymptomChecker"
        android:usesCleartextTraffic="true"
        >

        <activity android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="org.osmdroid.config" android:value="osmdroid.config"/>
        <activity android:name=".LegalDisclaimerActivity" />
        <activity android:name=".LoginActivity"/>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ServiceSelectionActivity" />
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".PrescriptionDetailActivity"/>
        <activity android:name=".QuestionsActivity" />
        <activity android:name=".ResultsActivity" />
        <activity android:name=".QueueActivity"/>
        <activity android:name=".BiteActivity"/>
        <activity android:name=".SymptomActivity" />
        <activity android:name=".PrescriptionActivity" />
        <activity android:name=".MainActivity"/>

        <activity
            android:name=".MeetingActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="fullSensor"
            tools:ignore="DiscouragedApi" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
